body {
    background-image: url(image/背景.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    /* 禁止页面滚动 */
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    height: 68vh;
    margin-top: 16.5vh;
    margin-left: 7vw;
    padding-right: 7vw;
}

.text_box {
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.text_img {
    width: 90%;
   margin-left: 5vw;

}

.bottom {
    /* height: 10vh; */
    text-align: right;
    margin-right: 3vw;
}

.back {
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(image/返回.png);
    height: 10vh;
    width: 20vh;
    transition: transform 0.3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}


.text_box::-webkit-scrollbar {
    width: 0.7vw;
}



.text_box::-webkit-scrollbar-thumb {
    background-color: rgb(220, 172, 88); 
    border-radius: 1vw 
}