body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    /* 禁止页面滚动 */
}

.button-row {
    display: flex;
    /* 使用 Flexbox 布局 */
    justify-content: space-between;
    /* 子元素分别靠向两端 */
    padding: 2px;
    height: 10vh;
    width: 100%;
}

.mode-button-container {
    width: 100vh;
    top: 0px;
    left: 20px;
    height: 100%
}

.mode-button {
    width: 15%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: transform 0.3s;
    background-color: transparent;
    outline: none;
}


#day-button {
    background-image: url('image/general/day_mode.png');
}

#night-button {
    background-image: url('image/general/night_mode.png');
}



.right-button-container {
    text-align: right;
    width: 100vh;
    top: 0px;
    right: 20px;
}

.right-button {
    width: 20%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: transform 0.3s;
    background-color: transparent;
    outline: none;
}


#fullscreenBtn {
    background-image: url(image/general/全屏.png);
  
}
#preface-button {
    background-image: url(image/general/preface.png);
}

#us-button {
    background-image: url(image/general/about_us.png);
}

.tooltip {
    position: absolute;
    top: 10vh;
    right: 2vh;
    z-index: 2;
}

.tooltip img {
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s ease-out;
    opacity: 0;
    width: 20vh;
    height: 20vh;
}

#us-button:hover .tooltip img {
    visibility: visible;
    opacity: 1;
    /* 完全不透明 */
}

/* 固定位置固定大小 */
/* .center {
    height:30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}
#title  {
    height:100%;


}
#title img {
    height:100%;

} */

.enter-boat-bottom {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    margin-top: 30vh;
}

.Enter {
    height: 15vh;
    border: none;
    transition: transform 0.3s;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.enter-img {
    height: 15vh;
}

/* 按钮的渐变时长 */
button:hover {
    transform: scale(1.1);
}

/* 
#SpecAnima {
    height:35vh;
    padding: 5vh;
}
#SpecAnima img {
    height:50vh;
} */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate-icon {
    animation: rotate 2s linear infinite;
    /* 动画名称 持续时间 速度曲线 是否无限循环 */
}

#soundIcon {
    cursor: pointer;
    height: 7vh;
    margin-left: 2vw;
}