body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; /* 禁止页面滚动 */
}

.button-row {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: space-between; /* 子元素分别靠向两端 */
    padding: 2px;
    height: 10vh;
    width: 100%;
}

.mode-button-container {
    width: 100vh;
    top: 0px;
    left: 20px;
    height: 100%
}

.mode-button {
    width: 15%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: transform 0.3s;
    background-color: transparent;
    outline: none;
}


#day-button {
    background-image:  url('image/general/day_mode.png');
}

#night-button {
    background-image: url('image/general/night_mode.png');
}


.right-button-container {
    text-align: right; 
    width: 100vh;
    top: 0px;
    right: 20px;
}
.right-button {
    width: 20%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: transform 0.3s;
    background-color: transparent;
    outline: none;
}
#preface-button{
    background-image: url(image/general/preface.png);
}
#us-button{
    background-image: url(image/general/about_us.png);
}
.tooltip {
    
    position: absolute;
    top: 10vh;
    right: 2vh;
    z-index: 2;
  }
  
  .tooltip img{
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s ease-out;
    opacity: 0;
    width: 20vh;
    height: 20vh;
  }

  #us-button:hover .tooltip img{
    visibility: visible;
    opacity: 1; /* 完全不透明 */
  }

/* 固定位置固定大小 */
.center {
    height:30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}
#title  {
    height:100%;
    /* width: 50vh; */

}
#title img {
    height:100%;
    /* width: 50vh; */

}

.enter-boat-bottom{
    /* max-height: 50%;  */
    height:60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.Enter{
    height:20vh;
    border: none;
    transition: transform 0.3s;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.enter-img{
    height:20vh;
}

/* 按钮的渐变时长 */
button:hover {
    transform: scale(1.1);
}

#SpecAnima {
    height:35vh;
    padding: 5vh;
}
#SpecAnima img {
    /* width: 100%; */
    /* height: 150%; */
    height:50vh;
}