body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button-row {
    display: flex;
    align-items: center;
}

.mode-button-container {
    display: inline-flex;
    position: fixed;
    top: 0px;
    left: 20px;
}

.mode-button {
    width: 120px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: transform 0.3s;
    background-color: transparent;
    outline: none;
}
.FullScreen-button {
    width: 75px;
    height: 75px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: transform 0.3s;
    background-color: transparent;
    outline: none;
}

#day-button {
    background-image: url('image/通用/日.png');
}

#night-button {
    background-image: url('image/通用/夜.png');
}
#handleFull-button {
    background-image: url(image/通用/全屏.png);
}
#exitFull-button {
    background-image: url(image/通用/退出全屏.png);
}
.right-button-container {
    position: absolute;
    top: 0px;
    right: 20px;
    display: inline-flex;
}
.right-button {
    width: 150px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: transform 0.3s;
    background-color: transparent;
    outline: none;
}
#begin-button{
    background-image: url(image/通用/前言.png);
}
#us-button{
    background-image: url(image/通用/关于我们.png);
}
#Enter{
    width: 500px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: transform 0.3s;
    background-color: transparent;
    outline: none;
    background-image: url(image/通用/点击进入.png);
}
button:hover {
    transform: scale(1.1);
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    object-fit: contain;
    max-width: 50%; 
    height: auto;
    margin-top: 12vh; 
     /* 页面顶部15%处 */
}

#title img {
    max-width: 100%;
    height: auto;
}
#SpecAnima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    object-fit: contain;
    max-width: 30%; 
    height: auto;
    margin-top: 15vh; 
    overflow:hidden;

}
#SpecAnima img {
    max-width: 100%;
    height: auto;
}