/* 字体定义 */
@font-face {
    font-family: 'FZZZHU'; /* 您希望给字体起的名字 */
    src: url('../fonts/FZZZHUNHJW.TTF') format('truetype'); /* 字体文件的路径和格式 */
    font-weight: normal; /* 字体粗细，可以根据需要调整 */
    font-style: normal; /* 字体风格，可以根据需要调整 */
}


body {
    font-family: 'FZZZHU', sans-serif;
     /* 第二个参数是回退字体 */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    /* 禁止页面滚动 */

    transition: background-color 0.5s ease;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 使用rgba黑色来达到暗化的效果，调整alpha值可以改变透明度 */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


.login-container {
    background-image: url(image/文本框.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    height: 50vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input[type="password"] {
    margin-top: 2vh;
    background-image: url(image/密码输入框.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    border: none;
    border-radius: 1vh;
    height: 5vh;
    width: 20vw;
    padding-left: 10vw;
    
}

input:focus {
    outline: none;
    /* outline: 2px solid rgb(226, 166, 82); */
}

input::placeholder {
    font-family: 'FZZZHU', sans-serif;
    /* color: #999; */
     /* 可以根据需要调整颜色 */
}

.login-container button {
    margin-top: 4vh;
    padding: 10px;
    transition: transform 0.3s;
    background-image: url(image/登陆按钮.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 7vh;
}

 button:hover {
    transform: scale(1.1);
}

.message {

    margin-top: -16vh;
    /* transform: translate(-50%, -50%); */
    border-radius: 4px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}