body {
    background-image: url(image/01背景.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
     /* 禁止页面滚动 */
}

.scrollable_container {
    overflow-y:auto;
    margin-top: 22vh;
    margin-left: 12vw;
    margin-right: 26vw;
    height: 64vh;
    overflow-y:auto;
}

.scrollable_container img {
    width: 100%; /* 自动宽度 */
    max-width: none; /* 确保图片不会缩放 */
}



.bottom{
    display: flex; /* 使用Flexbox布局 */
    justify-content: space-between; /* 两端对齐 */
}
.back{
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(image/返回.png);
    height: 10vh;
    width: 20vh;
    transition: transform 0.3s;
    cursor: pointer;
    margin-top: 1vh;
    margin-right: 2vw;
}

button:hover {
    transform: scale(1.1);
}

/* 整个滚动条的样式 */
.scrollable_container::-webkit-scrollbar {
    width: 0.7vw; /* 滚动条的宽度 */
}


/* 滚动条滑块的样式 */
.scrollable_container::-webkit-scrollbar-thumb {
    background-color: rgb(108, 70, 41); /* 滑块颜色 */
    border-radius: 1vw /* 滑块圆角 */

}

#soundIcon {
    cursor: pointer;
    height: 7vh;
    margin-top: 4vh;
    margin-left: 2vw;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-icon {
    animation: rotate 2s linear infinite; /* 动画名称 持续时间 速度曲线 是否无限循环 */
}